.tabs {
	margin: 0;
	padding: 0;
	width: 100%;
	text-align: center;
}
.tab {
	display: block;
	float: left;

	a {
		display: block;
		text-align: center;
	}
}

//Import class skins
@import "skin/tab-main-nav";