.btn-primary {
	border: 0;
	color: white;
	font-weight: bold;
	background-color: $purple;
	padding: ($xsSpacingPx + 1) ($sSpacingPx + 1); //Account for lack of border
  	background-image: linear-gradient($purpleLight 0%, $purple 100%);	

}
