.btn-secondary {
	font-weight: bold;
	border-radius: 2px;
	border: solid 1px $tangerine;
	background-color: $yellowDark;
	padding: $xsSpacingPx $sSpacingPx;
	background-image: linear-gradient($yellowDark 0%, $yellowLight 100%);	
}