//Popup us missing 'arrow'
//I would have attempted this with svg but ran out of time,
//with no arrow [graceful degradation] for non-svg browsers
.popup-bubble {
	border: solid 1px $lightGrey;
	box-shadow: $shadow; 
	border-radius: 3px;
	background-color: $beige;
	padding: $sSpacingPx;
	width: 250px;
}

.js {
	.popup-bubble {
		position: absolute;
		top: -140px;
		right: -20px;
		z-index: 1;
	}
	//Off-spec media query; best avoided
	@media screen and (min-width: 650px) {
		.popup-bubble {
			top: -20px;
			right: -265px;
		}
	}
	@media screen and (min-width: $breakpoint-m) {
		.popup-bubble {
			top: -140px;
			right: -20px;
		}
	}
	@media screen and (min-width: $breakpoint-l) {
		.popup-bubble {
			top: -20px;
			right: -265px;
		}
	}
}
