.crumb {
	display: block;
	float: left;
	font-size: 14px;
	color: $lightGrey;
}
.crumb:after {
	content: '>';
	display: inline;
	margin-right: $xsSpacingPx;
}
.crumb:last-child:after {
	content: '';
}
.crumb > a:hover {
	text-decoration: underline;
}