.charity-logo {
	width: 166px;
	height: 62px;
	background: transparent url('../../build/images/sprites/sprite.png') 0 0 no-repeat;
}
.event-details {
	position: relative;
	height: 80px;
	width: 178px;

	.h3 {
		margin-bottom: 0;
		height: 46px;
		overflow: hidden;
	}
	.btn {
		position: absolute;
		bottom: 0;
	}
}

//SMALL
@media screen and (min-width: $breakpoint-s) {
	.event-details {
		width: 200px;
	}
}

