

//Alpha transparency black
$black_15pc: rgba(0,0,0,0.15);

$white: white;
$beige: #e5e3dd;
$orange: #f48120;
$tangerine: #eaac00;
$yellowDark: #efb702;
$yellowLight: #eac55e;
$purple: #78256d;
$purpleLight: #995389;
$red: red;

//Grey
$darkGrey: #4d4840;
$lightGrey: #9d938d;