//Alpha transparency black
$black_15pc: rgba(0,0,0,0.15);

//Hues
$red: red;
$orange: #f48120;
$tangerine: #eaac00;
$yellowLight: #eac55e;
$yellowDark: #efb702;
$purpleLight: #995389;
$purple: #78256d;

//Shades
$beige: #e5e3dd;

//Mono
$white: white;
$darkGrey: #4d4840;
$lightGrey: #9d938d;