<div class="event-date">
    <time datetime="{{startDate}}">
        <span class="event-month">
            {{prettyStartMonth}}
        </span>
        <span class="event-date">
            {{prettyStartDate}}
        </span>
        <span class="event-year">
            {{prettyStartYear}}
        </span>
    </time>
</div>
<div class="event-details">
    <h3><a href="#">{{eventName}}</a></h3>
    <button data-event="promote" data-event-id="{{eventId}}">
        Promote<span class="hide-visually"> this event</span>
    </button>
</div>

