//Would normally use compass with a sass mixin for automating 
//sprites creation, including retina version
.icn-cal {
	width: 17px;
	height: 18px;
	background: transparent url('../../build/images/sprites/sprite.png') -174px -22px no-repeat;

}
.icn-info {
	width: 18px;
	height: 18px;
	background: transparent url('../../build/images/sprites/sprite.png') -172px -1px no-repeat;	
}