//Would normally handle page-level layout [and media queries] with a responsive grid
//e.g. something like bootstrap's responsive grid, but no time to add this here
body {
	background-color: $beige;
}
.wrapper {
	margin: 0 auto;
	max-width: 980px;
	width: 100%;
	background-color: $white;
	padding: $xlSpacingPx $lSpacingPx;
	box-shadow: $shadow; 
}

//MOBILE FIRST
.events-board,
.events-create {
	margin-bottom: $mSpacingPx;
}

//MEDIUM
@media screen and (min-width: $breakpoint-m) {
	.col-1 {
		padding-right: 300px + $lSpacingPx;
		position: relative;
	}
	.events-board {
		position: absolute;
		top: 0;
		right: 0;
		width: 300px;		
	}
}


